# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KEEBAGN_LEFT
    def_bool $(shields_list_contains,keebagn_left)
config SHIELD_KEEBAGN_RIGHT
    def_bool $(shields_list_contains,keebagn_right)
