/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |     W      |     E     |     R    |    T    |                 |    Y    |    U    |    I    |    O    |    P       |BACKSPACE|
// |   TAB   |    A    |  LShift/S  |  LCtrl/D  |  LAlt/F  |    G    |                 |    H    |  RAlt/J |    K    |    L    |  sym/layer |  ENTER  |
//           |    Z    |     X      |     C     |     V    |    B    |                 |    N    |    M    |    ,    |    .    |    -       |         
//                                              |   CAPS   |  SPACE  |  WIN  | MISSING |  layer  |   layer |
            bindings = <
&kp ESC   &kp Q     &kp W           &kp E           &kp R           &kp T                        &kp Y     &kp U          &kp I           &kp O           &kp P     &kp BSPC
&kp TAB   &kp A     &ht_tp LSHFT S  &ht_tp LCTRL D  &ht_tp LALT F   &kp G                        &kp H     &ht_tp RALT J  &ht_tp RCTRL K  &ht_tp RSHFT L  &none     &kp ENTER
          &kp Z     &kp X           &kp C           &kp V           &kp B                        &kp N     &kp M          &kp COMMA       &kp PERIOD      &kp MINUS
                                                    &kp CAPS        &kp SPACE   &kp LGUI   &none    &none     &none
            >;

        };
    };
};