#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |                   |    Y    |    U    |    I    |    O    |    P    |BACKSPACE|
// |   TAB   |    A    |    S    |    D    |    F    |    G    |                   |    H    |    J    |    K    |    L    |    Ø    |    Æ    |
//           |    Z    |    X    |    C    |    V    |    B    |                   |    N    |    M    |    ,    |    .    |    -    |         
//                                         |   SOME  |  SPACE  |  SOME   |   SOME  |  SOME   |   SOME  |
            bindings = <
                &kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T               &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
                &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G               &kp H     &kp J     &kp K     &kp L     &none     &none
                          &kp Z     &kp X     &kp C     &kp V     &kp B               &kp N     &kp N     &kp M     &kp COMMA &kp PERIOD
                                                        &none     &kp SPACE &none     &none     &none     &none
                
            >;

        };
    };
};